<body id="welcome-body">
<%= render "shared/header" %>

<div class="row" id="dashboard">

  <!--               My Journey                      -->
  <%= render "shared/my_journey_sidebar" %>


  <div  class="column column-6">
    <h2><%= @user.alias.capitalize %>'s Journeys</h2>

    <% @user.journeys.all.each do |journey| %>
      <div class="journey-box">
        <p>Fear: <%= link_to journey.fear.capitalize, user_journey_path(@user, journey) %></p>
        <p>Background: <%= journey.details %></p>
    </div>
    <% end %>
  </div>

  <!--                Recent Posts                    -->
  <%= render "shared/recent_posts_sidebar" %>


</div>
