<body id="welcome-body">
<%= render "shared/header" %>

<div class="row" id="dashboard">

  <!--               My Journey                      -->
  <%= render "shared/my_journey_sidebar" %>

  <!--               People I'm Following                   -->
  <div  class="column column-6">
    <h2 class="center-me"><%= link_to "Following (#{current_user.following.count} User(s))", following_user_path(current_user) %></h2>

    <% current_user.following.each do |followed_user| %>
      <% followed_user.journeys.each do |journey| %>

        <div class="follow-box">
          <div class="row">
            <div class = "column column-2">
              <%= gravatar_for(followed_user, 50) %>
            </div>
            <div class = "column column-9">
              <div class="row">
                <%= link_to followed_user.alias, user_path(followed_user) %>
              </div>
              <div class="row">
                <p>Fear: <%= journey.fear %></p>
              </div>
            </div>
          </div>
          <div class="row">
            <% if journey.posts.length > 0 %>
              <p><%= journey.posts.all.last.created_at.localtime.strftime("%B %d, %Y %I:%M %p") %></p>
            <% end %>
          </div>

          <div class="row post">
            <% if journey.posts.length > 0 %>
              <p><%= journey.posts.all.last.content %></p>
            <% end %>
          </div>

        </div>
        <% end %>
    <% end %>
    <div class="row">
      <p class="center-me"><%= link_to 'See All Users', users_path, class: "addBox" %></p>
    </div>
  </div>

  <!--                Recent Posts                    -->
  <%= render "shared/recent_posts_sidebar" %>


</div>
