<body id="welcome-body">
<%= render "shared/header" %>
<div id = "edit_post_form">
  <%= form_for [current_user, @journey, @post], url: {action: "update"} do |f| %>
  <p>
    <%= f.label :content, "Write Post"%><br>
    <%= f.text_area :content, :size=>"80x10" %>
  </p>

  <p>
    <%= f.submit value: "Submit"%>
  </p>

</div>
<% end %>
