<body id="welcome-body">
<%= render "shared/header" %>
<h2>All Posts</h2>

<div class="row" id="dashboard">

  <!--               My Journey                      -->
  <%= render "shared/my_journey_sidebar" %>

  <div  class="column column-9">
    <h2 class="center-me">All Posts</h2>

    <% @posts.reverse.each do |post| %>

      <div class="postBox">
        <div class="row">
          <div class = "column column-1" style="margin-right:10px;">
            <!-- <%= gravatar_for(post.journey.user, 80) %> -->
            <img src="<%= post.journey.user.photo_url %>" />
          </div>
          <div class = "column column-1"></div>
          <div class = "column column-9">
            <div class="row">
              <h2><%= link_to post.journey.user.alias.capitalize, user_path(post.journey.user) %></h2>
            </div>
            <div class="row">
              <p>Fear: <%= post.journey.fear %></p>
            </div>
          </div>
      </div>
      <div class = "row">
        </p>Date posted: <%= post.created_at.localtime.strftime("%B %d, %Y %I:%M %p") %></p>
      </div>

      <div class="row post">
        <p><%= post.content %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>
