<body id="welcome-body">
<%= render "shared/header" %>

<h2>Set a New Goal</h2>

<div id = "new_goal_form">
<%= form_for [current_user, @journey, @goal], url: {action: "create"} do |f| %>
  <p>
    <%= f.label :details, "What is the smallest step you can take towards conquering your fear?"%><br>
    <%= f.text_field :details, :size=>"52x6" %>
  </p>

  <p>
    <%= f.label :deadline, "How many days do you want to give yourselve to reach this goal?"%><br>
    <%= f.collection_select :deadline, @timeFrames, :to_i, :to_s, :size=>"52" %>
  </p>

  <%= f.hidden_field :isAchieved, {value:false} %>

  <p>
    <%= f.submit value: "Submit"%>
  </p>

</div>
<% end %>
