<h2>Set a New Goal</h2>

<div class = "new_goal_form">
<%= form_for [current_user, @journey, @goal], url: {action: "create"} do |f| %>
  <p>
    <%= f.label :details, "What is the smallest step you can take towards conquering your fear?"%><br>
    <%= f.text_field :details, :size=>"52x6" %>
  </p>

  <p>
    <%= f.label :deadline, "By when?"%>
    <%= f.text_area :deadline, :size=>"52x6" %>
 </p>

  <p>
    <%= f.submit value: "Submit"%>
  </p>

</div>
<% end %>
