<body id="welcome-body">
<%= render "shared/header" %>

<div class="row" id="dashboard">

  <!--               My Journey                      -->
  <%= render "shared/my_journey_sidebar" %>


  <div  class="column column-6">
    <div class="row">
      <div class = "column column-2 gravatar">
        <%= gravatar_for(@user, 80) %>
      </div>
      <div class = "column column-9">
        <div class="row">
          <h2><%= @user.alias.capitalize %>'s Journey<h2>
        </div>
        <div class="row">
          <% if can? :update, @journey %>
            <%= link_to 'Edit Journey', edit_user_journey_path(current_user, @journey), method: :get %>
          <% end %>
        </div>
        <div class="row">
          <% if can? :destroy, @journey %>
            <%= link_to 'Scrap Journey', user_journey_path(current_user, @journey), method: :delete, id: "scrap-journey" %>
          <% end %>
        </div>
        <div class="row">
          <!-- <% if @user != current_user %>
            <button class="support-button">Support</button>
          <% end %> -->
        </div>
      </div>
    </div>
    <div class="row journey-box">
      <p>Fear: <%= @journey.fear %></p>
      <p>Background: <%= @journey.details %></p>
    </div>


    <!-- <% if @journey.num_supporters %>
      <p><%= @journey.num_supporters %> people are supporting you.</p>
    <% else %>
      <p>0 people are supporting you.</p>
    <% end %> -->

    <h2>Goals:</h2>
    <% @journey.goals.each do |goal| %>
      <% if goal.isAchieved %>
        <div class ="goalBoxComplete">
      <% else %>
        <div class ="goalBoxIncomplete">
      <% end %>

        <div class="deadline">
          Deadline:
          <% if (goal.deadline) %>
            <%= goal.deadline.localtime.strftime("%B %d, %Y %I:%M %p") %>
          <% end %>
          <% if can? :update, goal %>
            <%= link_to 'Remove Goal', user_journey_goal_path(current_user, @journey, goal), method: :delete, class: "goal-option" %>
            <%= link_to 'Edit Goal', edit_user_journey_goal_path(current_user, @journey, goal), method: :get, class: "goal-option" %>
          <% end %>
        </div>

        <div class="goal"><%= goal.details %></div>
        <% if can? :update, goal %>
          <div class="completed"><button type="button" class="completeButton">Mark Completed</button></div>
        <% end %>
      </div>
    <% end %>

    <% if current_user.id == @user.id %>
    <%= link_to 'Add Goal', new_user_journey_goal_path(current_user, @journey), method: :get %>
    <% end %>



    <h2>Posts:</h2>
    <% @journey.posts.each do |post| %>
      <div class="postBox">
        <%= post.content %>
        <% if can? :update, post %>
          <%= button_to('Edit Post', edit_user_journey_post_path(current_user, @journey, post), method: :get) %>
          <%= button_to('Delete Post', user_journey_post_path(current_user, @journey, post), method: :delete) %>
        <% end %>
      </div>
    <% end %>

    <% if can? :create_post, @user %>
      <%= link_to 'Add Post', new_user_journey_post_path(current_user, @journey), method: :get %>
    <% end %>


  </div>

  <!--                Recent Posts                    -->
  <%= render "shared/recent_posts_sidebar" %>

</div>
