<h2>Journey show page</h2>

<p>Fear:<%= @journey.fear %></p>
<p>Background:<%= @journey.details %></p>
<%= link_to 'Edit Journey', edit_user_journey_path(current_user, @journey), method: :get %>

<h2>Goals:</h2>
<% @journey.goals.each do |goal| %>
  <% if goal.isAchieved %>
    <div class ="goalBoxComplete">
  <% else %>
    <div class ="goalBoxIncomplete">
  <% end %>
  
    <div class="deadline">
      Deadline: <%= goal.deadline.localtime.strftime("%B %d, %Y %I:%M %p") %>
      <%= link_to 'Remove Goal', user_journey_goal_path(current_user, @journey, goal), method: :delete, class: "goal-option" %>
      <%= link_to 'Edit Goal', edit_user_journey_goal_path(current_user, @journey, goal), method: :get, class: "goal-option" %>
    </div>
    <div class="goal"><%= goal.details %></div>
    <div class="completed"><button type="button" class="completeButton">Mark Completed</button></div>

  </div>
<% end %>

<%= link_to 'Add Goal', new_user_journey_goal_path(current_user, @journey), method: :get %>

<h2>Posts:</h2>
<% @journey.posts.each do |post| %>
  <div class="posts">
    <%= post.content %>
    <%= button_to('Edit Post', edit_user_journey_post_path(current_user, @journey, post), method: :get) %>
    <%= button_to('Delete Post', user_journey_post_path(current_user, @journey, post), method: :delete) %>
  </div>
<% end %>
<%= link_to 'Add Post', new_user_journey_post_path(current_user, @journey), method: :get %>

<%= link_to 'Scrap Entire Journey', user_journey_path(current_user, @journey), method: :delete, id: "scrap-journey" %>
