<body id="welcome-body">
<%= render "shared/header" %>

<div class="row" id="dashboard">

  <!--               My Journey                      -->
  <%= render "shared/my_journey_sidebar" %>


  <div  class="column column-6">
    <div class="row">
      <div class = "column column-2 gravatar">
        <%= gravatar_for(@user, 80) %>
      </div>
      <div class = "column column-9">
        <div class="row">
          <h2><%= @user.alias.capitalize %>'s Journey<h2>
          <% if @user != current_user %>
            <button class="support" journeyID="<%= @journey.id %>">Support <%= @user.alias.capitalize %>'s Journey</button>
          <% end %>
        </div>
        <div class="row">
          <% if can? :update, @journey %>
            <%= link_to 'Edit Journey', edit_user_journey_path(current_user, @journey), method: :get %>
          <% end %>
        </div>
        <div class="row">
          <% if can? :destroy, @journey %>
            <%= link_to 'Scrap Journey', user_journey_path(current_user, @journey), method: :delete, id: "scrap-journey" %>
          <% end %>
        </div>
        <div class="row">

        </div>
      </div>
    </div>
    <div class="row journey-box">
      <p>Fear: <%= @journey.fear %></p>
      <p>Background: <%= @journey.details %></p>
    </div>


    <% if @journey.num_supporters %>
      <% if @user != current_user %>
        <p><%= @journey.num_supporters %> people are supporting <%= @user.alias.capitalize %> on this journey.</p>
      <% else %>
        <p><%= @journey.num_supporters %> people are supporting you on this journey.</p>
      <% end %>
    <% end %>

    <h2>Goals:</h2>
    <% @journey.goals.each do |goal| %>
      <% if goal.isAchieved %>
        <div class ="goalBoxComplete">
      <% else %>
        <div class ="goalBoxIncomplete" id="goalBox<%= goal.id %>">
      <% end %>

        <div class="row deadline">
          <div class = "column column-5">
            Deadline:
            <% if (goal.deadline) %>
                <%= goal.deadline.localtime.strftime("%B %d, %Y %I:%M %p") %>
            <% end %>
          </div>
          <% if can? :update, goal %>
            <div class="completed column column-3">
              <% if !goal.isAchieved %>
                <button type="button" class="completeButton" id="<%= goal.id %>">Mark Complete</button>
              <% end %>
            </div>
            <div class = "column column-2">
              <%= button_to('Remove Goal', user_journey_goal_path(current_user, @journey, goal), method: :delete) %>
            </div>
            <div class = "column column-2">
              <%= button_to('Edit Goal', edit_user_journey_goal_path(current_user, @journey, goal), method: :get) %>
            </div>
          <% end %>
        </div>
        <div class="row goalDetails">
            <%= goal.details %>
        </div>

      </div>
    <% end %>

    <div class="row">
      <% if current_user.id == @user.id %>
      <%= link_to 'Add Goal', new_user_journey_goal_path(current_user, @journey), method: :get %>
      <% end %>
    </div>


    <h2>Posts:</h2>
    <% @journey.posts.each do |post| %>
      <div class="postBox">
        <div class = "row">
          </p>Date posted: <%= post.created_at.localtime.strftime("%B %d, %Y %I:%M %p") %></p>
        </div>
        <div class = "row post">
          <%= post.content %>
        </div>
        <div class = "row">
          <% if can? :update, post %>
            <div class = "column column-2">
              <%= button_to('Edit Post', edit_user_journey_post_path(current_user, @journey, post), method: :get) %>
            </div>
            <div class = "column column-2">
              <%= button_to('Delete Post', user_journey_post_path(current_user, @journey, post), method: :delete) %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if can? :create_post, @user %>
      <%= link_to 'Add Post', new_user_journey_post_path(current_user, @journey), method: :get %>
    <% end %>


  </div>

  <!--                Recent Posts                    -->
  <%= render "shared/recent_posts_sidebar" %>

</div>
