<!DOCTYPE html>
<html>
<head>
  <title>Fearless</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>  <%= csrf_meta_tags %>
</head>
<body>
<div id="title">

  <div id="gravatar-alias">
    <% if current_user %>
      <%= gravatar_for(current_user) %>
      <p id="current-user-alias"><%= current_user.alias %></p>
    <% end %>
  </div>

  <div id="logo">
    <h1><%= link_to 'be  FEARLESS', '/', id: "fearless"  %></h1>
  </div>

  <div id="signout">
    <% if current_user %>
      <h2><%= link_to 'Signout', destroy_user_session_path, :method => :delete %></h2>
    <% end %>
  </div>

</div>
<div id="main">
<%= yield %>
</div>
</body>
</html>
